
@model IEnumerable<eShop.Models.OrderItem>
   <div class="col-md-9">
       @if(ViewBag.message != null)
       {
       <br/>
       <br/>
      
       <div class="alert alert-danger" role="alert">@ViewBag.message</div>
       
       }
       else{
       
       <table class="basket-table col-md-12">
           <thead>
               <tr>
                   <th>Product Photo</th>
                   <th>Product name</th>
                   <th>Product Price</th>
                   <th>Delete product</th>
               </tr>
           </thead>
           <tbody>
               @foreach (var item in Model)
               {
                   var productID = @item.productID;
                   <tr class="basket-row">
                       <td class="col-md-4">
                           <a href="#" class="thumbnail">
                               <img src="~/Content/Images/test.jpg" alt="productImage" class="img-thumbnail">
                           </a>
                       </td>
                       <td class="col-md-4">
                           @foreach (var product in ViewBag.allProducts)
                           {
                               if (@product.Id == productID)
                               {
                                   @product.Description
                               }

                           }
                       </td>
                       <td class="col-md-2">@item.price</td>
                       <td class="col-md-2"><a href="#" class="remove-item" id="@item.orderItemID"> <i class="fa fa-times fa-lg" aria-hidden="true"></i></a></td>
                   </tr>
               }

           </tbody>

       </table>

       }

   </div>