
@model IEnumerable<eShop.Model.Product>

    <div class="row col-md-8 view-category mx-auto">
        @foreach (var item in Model)
            {
            <div class="col-sm-4 col-lg-3 col-md-3">
              
                <a href="@Url.Action("ViewProduct", "CustProducts",
                         new { id = @item.Id})" id="@item.Id">
                    @foreach (var image in ViewBag.images)
                    {
                        if (@image.ProductId == @item.Id)
                        {
                            <img class="rounded" src="/product-images/Thumbnails/@image.ImageLocation" alt="http://placehold.it/200x300">
                        }
                    }
                    
                    <div class="caption">
                        <h4>$@item.Price</h4>
                        <h4>
                            @item.Name
                        </h4>
                        <p>@item.Description </p>
                        <br />
                    </div>
                 </a>
                   
                   
                    <div class="ratings">
                        <!--<p class="pull-right">15 reviews</p>
                         <p>
                             <span class="glyphicon glyphicon-star"></span>
                             <span class="glyphicon glyphicon-star"></span>
                             <span class="glyphicon glyphicon-star"></span>
                             <span class="glyphicon glyphicon-star"></span>
                             <span class="glyphicon glyphicon-star"></span>
                         </p>-->
                    </div>
                
            </div>
        }
    </div>


